# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# misc
.DS_Store
*.pem

# next.js
/.next/
/out/

# production
/build

# testing
/coverage

# typescript
*.tsbuildinfo
next-env.d.ts
logs/generation.log

# vercel
.vercel

# Content - Image files
/public/images/*
!public/images/placeholder.png
!public/images/1995-Fellini01.jpg
!public/images/1995-Fellini02.jpg
!public/images/TheFirstReport_037a.png
!public/images/TheFirstReport_037b.png
!public/images/TheFirstReport_072a.png
!public/images/TheFirstReport_072b.png

# Content - JSON Entries
/content/entries/*
!content/entries/001.json
!content/entries/002.json

